[submodule "services/xposed-service"]
	path = services/xposed-service
	url = https://github.com/pumPCin/XposedService.git
	branch = main
[submodule "external/lsplant"]
	path = external/lsplant
	url = https://github.com/qweraqq/LSPlant.git
	branch = dev-20240701
[submodule "external/dobby"]
	path = external/dobby
	url = https://github.com/pumPCin/Dobby.git
	branch = master
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/pumPCin/fmt.git
	branch = master
[submodule "external/cxx"]
	path = external/cxx
	url = https://github.com/pumPCin/libcxx.git
	branch = master
[submodule "libxposed/api"]
	path = libxposed/api
	url = https://github.com/pumPCin/api.git
	branch = master
[submodule "libxposed/service"]
	path = libxposed/service
	url = https://github.com/pumPCin/service.git
	branch = master
