[submodule "services/xposed-service"]
	path = services/xposed-service
	url = https://github.com/pumPCin/XposedService.git
[submodule "external/lsplant"]
	path = external/lsplant
	url = https://github.com/pumPCin/LSPlant.git
	branch = LSPosed_mod
[submodule "external/dobby"]
	path = external/dobby
	url = https://github.com/pumPCin/Dobby.git
	branch = master
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "external/cxx"]
	path = external/cxx
	url = https://github.com/pumPCin/libcxx.git
	branch = master
